:root {
    --background-color: #f0f0f0;
    --text-color: #333;
    --header-background-color: #333;
    --header-text-color: #fff;
    --link-color: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: var(--header-text-color);
    text-decoration: none;
}

main {
    padding: 20px;
}

h2, h3 {
    color: var(--link-color);
}

pre {
    background-color: #eee;
    padding: 10px;
}

footer {
    background-color: var(--header-background-color);
    color: var(--header-text-color);
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
